{% extends "base.html" %} 
  {%block title%} Bogie Checklist List{%endblock%}
{%block content%} 
<div class="d-flex justify-content-between mb-3">
    <h2>Bogie Checklist List</h2>
    <a class="btn btn-primary" href={%url 'create' %}>Create Bogie Checklist</a>
</div>


    {%if bogie_checksheet%}
    {%for form in bogie_checksheet%}
   <div class="card">
    {% comment %} {{form.JSON()}} {% endcomment %}
        <h3>Bogie: {{ form.BogieNumber }}</h3>
        <p><strong>ID:</strong> {{ form.id }}</p>
        <p><strong>Maker &amp; Year Built:</strong> {{ form.maker_year_built }}</p>
        <p><strong>Incoming Div. &amp; Date:</strong> {{ form.incoming_div_date }}</p>
        <p><strong>Deflict of Components:</strong> {{ form.deflict_of_components }}</p>
        <p><strong>Date of IOH:</strong> {{ form.date_of_IOH }}</p>
        <hr/>
        <h2>Bogie Checksheet</h2>
        <p><strong>Bogie Field Condition:</strong> {{ form.bogie_field_codition }}</p>
        <p><strong>Blaster:</strong> {{ form.blaster }}</p>
        <p><strong>Blaster Suspension Bracket:</strong> {{ form.blaster_suspension_bracket }}</p>
        <p><strong>Lower Spring Seat:</strong> {{ form.lower_spring_seat }}</p>
        <p><strong>Axle Guide:</strong> {{ form.axle_guide }}</p>
        <p><strong>Axle Guide Assembly:</strong> {{ form.axle_guide_assembly }}</p>
        <p><strong>Protective Tubes:</strong> {{ form.protective_tubes }}</p>
        <p><strong>Anchor Link:</strong> {{ form.anchor_link }}</p>
        <p><strong>Side Bearer:</strong> {{ form.side_bearer }}</p>
        <hr/>
        <h2>BMBC Checksheet</h2>
        <p><strong>Cylinder Body &amp; Dome Cover:</strong> {{ form.cylinder_body_dome_cover }}</p>
        <p><strong>Piston Trunnion Body:</strong> {{ form.piston_trunnion_body }}</p>
        <p><strong>Adjusting Tube and Screw:</strong> {{ form.adjusting_tube_screw }}</p>
        <p><strong>Plunger Spring:</strong> {{ form.plunger_spring }}</p>
        <p><strong>Tree Bolt Hex Nut:</strong> {{ form.tree_bolt_hexNut }}</p>
        <p><strong>Pawl and Pawl Spring:</strong> {{ form.pawl_pawl_spring }}</p>
        <p><strong>Dust Excluder:</strong> {{ form.dust_excluder }}</p>

        <p>
            <a href="{%url 'update' form.pk%}" class="btn btn-success btn-sm">Edit</a>
            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{bogie.pk}}">Delete</button>
        </p>

      </div>
     {%endfor%}
     {%else%} 
    <p class="text-center">No Bogie Checklist found ...    </p>
    {%endif%} 
    

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delte this Bogie Checklist?
        </div>
        <div class="modal-footer">
            <form method="POST" id="deleteForm">
                {%csrf_token%}
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
            </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function(event){
        const button = event.relatedTarget;
        const employeeId = button.getAttribute('data-id')
        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = `/delete/${employeeId}/`;
    })
  </script>
 </table>

  
 {%endblock%}
